@font-face{
	src: url("fonts/lato-v16-latin-regular.woff2");
	font-family: latoV16;
}
*{
	margin: 0;
	padding: 0;
	font-family: latoV16
}
.container{
	width: 100%;
	height: 100%;
	background: #000;
}
.menu ul{
	
	animation: startUpFade 0.5s ease-in;
	animation-fill-mode: forwards;
	justify-content: center;
	display: flex;
	margin: 20px;
	opacity: 0;
	animation-delay: 2s;
}
.menu ul li{
	
list-style: none;
	margin: 0 20px;
	color: aliceblue;
	cursor: pointer;
	opacity: 0.75;
	font-size: 20px;
	font-family: latoV16;
	
	
}
.ol h1{

	animation: startUpFade1 0.5s ease-in;
	animation-fill-mode: forwards;
	opacity: 0;
	animation-delay: 2s;
}.ae{
	margin-top: 30px;
	animation: startUpFade1 0.5s ease-in;
	animation-fill-mode: forwards;
	opacity: 0;
	animation-delay: 2s;
}
.menu ul li:hover{
	animation: fadeInFromNone 0.5s ease-out;
	animation-fill-mode: forwards;
	
}
.logo img{
	animation: startUpFade2 2.3s ease-out;
	animation-fill-mode: forwards;
}
.em{
	
}.taglineContainer{
	margin-right: 950px;
	margin-left: 150px;
}
.paragraph{
	font-size: 18px;
	text-align: justify;
}.ButtonContainer{
	margin-top: 30px;
	margin-left: 460px;
}.button{
	box-shadow: 0px 0px 0px 0px #db0012;
	background-color:transparent;
	border:1px solid #FFF;
	display:inline-block;
	cursor:pointer;
	color:#FFF;
	font-family:Arial;
	font-size:17px;
	padding:11px 17px;
	text-decoration:none;
}.button:hover{
	background-color:transparent;
}.button:active{
	position:relative;
	top:1px;
}.gts{
	margin-top: 500px;
	
}.gtsContainer{
	display: inline-flex;
	margin-top: 30px;
	margin-right: 950px;
	margin-left: 150px;
}
.steps{
	display:inline-flex;
	margin-top: 30px;
	margin-right: 950px;
	margin-left: 150px;
	list-style: none;
	font-family: latoV16;
	font-size: 18px;
	
}.step1{
	margin-bottom: 50px;
	margin-left: 15px;
	width: 400px;
}.gp1{
	text-align: left;
}
.step2{
	margin-left: 100px;
	margin-bottom: 50px;
	width: 400px;
}.gp2{
	text-align: left;
}.step3{
	margin-left: 100px;
	margin-bottom: 50px;
	width: 400px;
}.gp3{
	text-align: left;
}
@keyframes startUpFade{
	0%{display: none; opacity: 0;}
	25%{display: block; opacity: 0.15;}
	50%{display: block; opacity: 0.35;}
	75%{display: block; opacity: 0.55;}
	100%{display: block; opacity: 0.75;}
}

@keyframes startUpFade1{
	0%{display: none; opacity: 0;}
	10%{display: block; opacity: 0.15;}
	25%{display: block; opacity: 0.25;}
	50%{display: block; opacity: 0.55;}
	75%{display: block; opacity: 0.75;}
	100%{display: block; opacity: 1;}
}


@keyframes startUpFade2{
	0%{display: none; opacity: 0;}
	5%{display: block; opacity: 0.05;}
	10%{display: block; opacity: 0.10;}
	15%{display: block; opacity: 0.15;}
	25%{display: block; opacity: 0.20;}
	30%{display: block; opacity: 0.25;}
	35%{display: block; opacity: 0.30;}
	40%{display: block; opacity: 0.35;}
	50%{display: block; opacity: 0.40;}
	60%{display: block; opacity: 0.50;}
	65%{display: block; opacity: 0.55;}
	75%{display: block; opacity: 0.60;}
	85%{display: block; opacity: 0.80;}
	95%{display: block; opacity: 0.90;}
	100%{display: block; opacity: 1;}
}
@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0.75;
    }

    25% {
        display: block;
        opacity: 0.80;
    }
	
	40%{
		display: block;
		opacity: 0.87;
	}
	
	60% {
        display: block;
        opacity: 0.95;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

